.ticket-container{
    padding: 20vh 20vw;
}

.ticket-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #c2c7bf;
    border-radius: 0.2rem;
}

.ticket-title{
    font-size: 3rem;
    font-weight: 800;
}

.ticket-purchaser{
    font-size: 1.8rem;
    font-weight: 600;
}

.ticket-table{
    background-color: #ccc;
    margin-top: 5rem;
}

.header{
    padding: 0.3rem 2rem;
    min-width: 8rem;
}

tr{
    height: 4rem;
}

td{
    padding: 0.8rem 1rem;
    background-color: #aaa;
}

.ticket-amount{
    font-size: 1.3rem;
    font-weight: 600;
}

.ticket-date, .ticket-code{
    font-size: 0.9rem;
    color: #333;
}

.product-item-ticket{
    background-color: #fccc85;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    padding: 0.5rem;
}