<div class="recover-container">
    <h2 class="recover-title">Recuperar contraseña</h2>
    <div class="recover-form-container">
        <h3>Ingresá tu dirección de correo</h3>
        <form class="" action="/api/mail" method="post" class="recover-form">
            <div class="input-field">
                <label for="email">Email</label>
                <input type="email" class="validate" name="email">
            </div>
            <input class="recover-submit" type="submit" value="Enviar correo">
        </form>
    </div>
</div>
